@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Roboto';
  font-weight: normal;
  margin: 0;
}

.material-icon-button > span {
  width: 24px;
  height: 24px;
}

.material-symbols-outlined.icon-36 {
  font-size: 36px;
}

.material-symbols-outlined.icon-64 {
  font-size: 64px;
}

.material-button> span.material-symbols-outlined {
  width: 24px;
  height: 24px;
}