#sidebar {
  padding: 20px;
  background-color: white;
  color: #333;
  flex: 20%;
}

#logo {
  font-size: 1.25em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  span {
    margin-left: 10px;
  }
  img {
    max-width: 40px;
  }
}